*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: #ecf1f4;
}
::-webkit-scrollbar{
    width: 6px;
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
    background-color: #858585;
    border-radius: 999px;
}
#Box{
    width: 100%;
    height: 117px;
    background-color: #000096;
}
header{
    width: 100%;
    height: 170vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#container{
    width: 1300px;
    height: 861px;
    position: absolute;
    top: 34px;
    display: flex;
    justify-content: space-between;
}
#mainInfo{
    width: 100%;
    height: 931px;
    display: flex;
    flex-direction: column;
}
#NavBar{
    width: 80px;
    height: 709px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #0918EC;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}
#BoxLM{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#BoxNav{
    width: 80px;
    height: 653px;
}
#Menu{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
#span-nav{
    height: 75px;
    width: 100%;
    display: flex;
}
#mainContainer{
    width: 863px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#Mainprofile{
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#BoxBaP{
    width: 288px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
    color: #fff;
}
#H4BoxBaP{
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#addHouse{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 999px;
    cursor: pointer;
}
#addHouseImg{
    width: 19px;
    height: 19px;
}
#BoxProfile{
    width: 186px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(33, 6, 95);
    background: rgba(108, 134, 177, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 180px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
    color: #fff;
}
#Info{
    width: 100%;
    height: 695px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#BoxUp{
    width: 100%;
    height: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
}
#BoxUpInfos{
    width: 295px;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#BoxFlights{
    width: 46px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}
#BoxFlights:hover{
    background-color: #0918EC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#FlightsImg, #VillaImg, #BedImg{
    width: 23px;
    height: 23px;
}
#BoxHotel{
    width: 46px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}
#BoxHotel:hover{
    background-color: #0918EC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#HotelImg{
    width: 23px;
    height: 23px;
}
#BoxVilla{
    width: 46px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #fff;
    border-radius: 8px;
}
#BoxVilla:hover{
    background-color: #0918EC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#VillaImg{
    width: 18px;
    height: 18px;
}
#BoxTaxi{
    width: 46px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #fff;
    border-radius: 8px;
}
#BoxTaxi:hover{
    background-color: #0918EC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#TaxiImg{
    width: 23px;
    height: 23px;
}
#BoxMainDown{
    width: 100%;
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
}
#BoxCenterDown{
    width: 92%;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}
#BoxCenter1{
    width: 92%;
    height: 37px;
}
#BoxORM{
    width: 1246px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    left: 158px;
    border-radius: 16px;
}
#BoxORM2{
    width: 907px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 32px;
}
#BoxOneway{
    width: 102px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #353F65;
}
#BoxOnewayBtn{
    width: 102px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F2F6;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #353F65;
    border-radius: 17.5px;
}
#BoxDhakaForm{
    width: 181px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #353F65;
}
#BoxDhakaFormBtn{
    width: 181px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F2F6;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #353F65;
    border-radius: 17.5px;
}
#BoxDilhiTo{
    width: 181px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #353F65;
}
#BoxDilhiToBtn{
    width: 181px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F2F6;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #353F65;
    border-radius: 17.5px;
}
#BoxPersonsClass{
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #353F65;
}
#BoxPersonsClassBtn{
    width: 120px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F2F6;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #353F65;
    border-radius: 17.5px;
}
#BoxDateDeparture{
    width: 201px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #353F65;
}
#BoxDateDepartureBtn{
    width: 201px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F2F6;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #353F65;
    border-radius: 17.5px;
}
#BtnORM{
    width: 165px;
    height: 46px;
    border-radius: 180px;
    border: none;
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    color: #FAF1F2;
    font-weight: 700;
    cursor: pointer;
    margin-right: 25px;
    background-color: #DF142D;
}
#H4orm2{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #2E3758;
    font-weight: 700;
}
#Type{
    position: relative;
    right: 30px;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
    color: #B8C1DE;
}
#Form{
    position: relative;
    right: 60px;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
    color: #B8C1DE;
}
#To{
    position: relative;
    right: 70px;
    font-size: 11px;
    font-weight: 500;
    font-family: 'Open sans', sans-serif;
    color: #B8C1DE;
}
#Class{
    position: relative;
    right: 30px;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
    color: #B8C1DE;
}
#DeReturn{
    position: relative;
    right: 30px;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
    color: #B8C1DE;
}
#BoxCenter2{
    width: 92%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#BoxForm{
    width: 328px;
    height: 88px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(124, 130, 155, 0.05);
    border: 1px solid #EEF0F4;
    box-sizing: border-box;
}
#BoxFormTxt{
    width: 172px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 19px;
}
#BoxImgForm{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
}
#BoxFormTxt, h4{
    font-size: 12px;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    color: #475073;
    position: relative;
}
#h4Form{
    font-size: 12px;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    color: #475073;
    position: relative;
    left: 10px;
}
#BoxTo{
    width: 328px;
    height: 88px;
    border-radius: 8px;
    background: rgba(124, 130, 155, 0.05);
    border: 1px solid #EEF0F4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
#BoxToTxt{
    width: 172px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 19px;
}
#BoxToTxt, h4{
    font-size: 12px;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    color: #475073;
}
#BoxClass{
    width: 229px;
    height: 88px;
    border-radius: 8px;
    background: rgba(148, 152, 168, 0.05);
    border: 1px solid #EEF0F4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
#BoxClassTxt{
    width: 172px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 19px;
}
#BoxClassTxt, h4{
    font-size: 12px;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    color: #475073;
}
#BoxCenter3{
    width: 92%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}
#BoxDeparture{
    width: 248px;
    height: 88px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background: rgba(124, 130, 155, 0.05);
    border: 1px solid #EEF0F4;
    box-sizing: border-box;
}
#BoxDepartureTxt{
    width: 172px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 19px;
}
#BoxDepartureTxt, h4{
    font-size: 12px;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    color: #475073;
}
#BoxReturn{
    width: 248px;
    height: 88px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(124, 130, 155, 0.05);
    border: 1px solid #EEF0F4;
    box-sizing: border-box;
}
#BoxReturnTxt{
    width: 172px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 19px;
}
#BoxReturnTxt, h4{
    font-size: 12px;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    color: #475073;
}
#BoxReturn2{
    width: 140px;
    height: 88px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(124, 130, 155, 0.05);
    border: 1px solid #EEF0F4;
    box-sizing: border-box;
}
#BoxReturn2Txt{
    width: 172px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 19px;
}
#BoxReturn2Txt, h4{
    font-size: 12px;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    color: #475073;
}
#BtnCenter3{
    width: 224px;
    height: 88px;
    border-radius: 7px;
    border: none;
    background-color: #DF142D;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    color: #fff;
}
#BoxOpcoes{
    width: 100%;
    height: 250px;
}
#BoxHome{
    width: 100%;
    height: 42px;
    border-radius: 180px;
    cursor: pointer;
}
#BoxHomeInfos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Open sans', sans-serif;
    color: #fff;
}
#BoxWallet{
    width: 100%;
    height: 42px;
    border-radius: 180px;
    cursor: pointer;
}
#BoxWalletInfos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Open sans', sans-serif;
    color: #fff;
}
#BoxBooking{
    width: 100%;
    height: 42px;
    border-radius: 180px;
    cursor: pointer;
}
#BoxBookingInfos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Open sans', sans-serif;
    color: #fff;
}
#BoxBusiness{
    width: 100%;
    height: 42px;
    border-radius: 180px;
    cursor: pointer;
}
#BoxBusinessInfos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Open sans', sans-serif;
    color: #fff;
}
#BoxExplore{
    width: 100%;
    height: 42px;
    border-radius: 180px;
    cursor: pointer;
}
#BoxExploreInfos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Open sans', sans-serif;
    color: #fff;
}
#BoxSupport{
    width: 100%;
    height: 42px;
    border-radius: 180px;
    cursor: pointer;
}
#BoxSupportInfos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Open sans', sans-serif;
    color: #fff;
}
#BoxGet{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 259px;
    margin-left: 39px;
}
#BoxPremiun{
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 45px;
    border-radius: 180px;
}
#Ball3{
    width: 20px;
}
#DownBox{
    width: 100%;
    height: 239px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
#DownBoxInfosTxt{
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
}
#h6DownTxt{
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-right: 40px;
}
#DownBoxMain{
    width: 1446px;
    height: 188px;
    display: flex;
    justify-content: space-between;
    overflow: visible;

}
#BoxCityTuch{
    width: 462px;
    height: 188px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 32px;
}
#BoxCityTuchMain{
    width: 410px;
    height: 188px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#BoxCityTuchImg{
    width: 110px;
    height: 100%;
}
#BoxCityTuchTxt{
    width: 269px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#BoxCityTuchTitle{
    width: 186px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
}
#BoxCityTuchCuponBtn{
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#CityTuchImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
#BoxCityTuch2{
    width: 462px;
    height: 188px;
}
#PUpInfos{
    color: #fff;
    font-size: 11px;
    font-weight: 800;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#BoxCityTuchBtn{
    width: 98px;
    height: 32px;
    background: rgba(223, 20, 45, 0.06);
    border-radius: 180px;
    border: none;
    color: #DF142D;
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
p{
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #6C738F;
}
#BoxBestOffer{
    height: 1106px;
    width: 100%;
    background-color: #fff;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center; 
}
#BoxBestOfferMain{
    width: 896px;
    height: 496px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#BoxBestOfferTxt{
    width: 100%;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #282E44;
    font-weight: 900;
    margin-top: 30px;

}
#PBoxBestOffer{
    color: #282E44;
    font-weight: 900;
    font-size: 24px;
}
#BoxBestOfferOfertas{
    height: 437px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
}
#BoxVia{
    width: 100%;
    height: 76.38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
#BoxViaMunbai{
    width: 100%;
    height: 76.38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#BoxViaTxt{
    width: 317px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#BoxH3{
    width: 37px;
    height: 16px;
}
#BoxDates{
    width: 121px;
    height: 16px;
}
#BoxViaBtn{
    width: 152px;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    color: #282E44;
    border: none;
    font-weight: 700;
    font-size: 13px;
    border-radius: 180px;
}
#ViaSpan{
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #282E44;
}
#ViaP{
    font-family: 'Open sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #A2A8BF;
}
#ViaH3{
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #282E44;
}
#ViaDates{
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    font-family: 700;
    color: #282E44;
}
#BoxViaImg{
    width: 50px;
    height: 50px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#BoxTxtViaP{
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
}
#BoxBookYourPerfectDeals{
    width: 100%;
    height: 205px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 14px;
    margin-bottom: 25px;
}
#BYP{
    font-family: 'Open sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
#Value{
    font-size: 48px;
    font-weight: 900;
    font-family: 'Open sans', sans-serif;
    color: #DF142D;
}
#PValue{
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #E12819;
}
#AV{
    width: 434px;
    height: 100%;
}
#BoxBYPDBtn{
    width: 138px;
    height: 54px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 11px;
    cursor: pointer;
}
#DownBoxInfosTxtP{
    color: #282E44;
    font-family: 'Open sans', sans-serif;
    font-weight: 900;
    font-size: 24px;
}
#BoxMedal{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background: linear-gradient(214.51deg, #D10015 13.77%, #FF4369 83.58%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
#BoxPremiunMedalImg{
    rotate: -90deg;
    width: 18px;
    height: 18px;
}
#BoxPremiunTxt{
    width: 80px;
    height: 26px;
    right: 5px;
    position: relative;
}
#PPremiun{
    font-family: 'Open sans', sans-serif;
    font-weight: 800;
    font-size: 11px;
    color: #0B1023;
}
#BoxStatistic{
    background-color: rgb(255, 255, 255);
    width: 289px;
    height: 608px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 188px;
}
#BoxTitle{
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
    border: 0.5 solid #979797;
}
#PTitle{
    font-family: 'Open sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #000;
    margin-left: 13px;
}
#BoxGrafic{
    width: 100%;
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#BoxGraficAll{
    width: 249.2px;
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#BoxGraficTitle{
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#PGrafic{
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    font-weight: 500;
    color: #191D23;
}
#H5Grafic{
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    color: #191D23;
}
#BoxGraficImg{
    width: 100%;
    height: 56px;
}
#GraficImg{
    width: 100%;
    height: 100%;
    margin-top: 5px;
}
#BoxTxtStop{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#BoxStopAll{
    width: 245px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#H3Stop{
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    color: #191D23;
}
#BoxStopCircle{
    width: 17px;
    height: 18px;
    border-radius: 999px;
    background-color: #3C6097;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
}
#BoxDetailOption{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
}
#BoxDetailStop{
    width: 246px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, #FFFFFF 37.5%, #F6F7F9 131.25%);
    border: 1px solid #DADDE3;
    border-radius: 4px;
    margin-top: 19px;
    font-size: 13px;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    color: #B6B7B9;
}
small{
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    font-weight: 800;
    margin-left: 10px;
    color: #191D23;
    margin-right: 24px;
}
span{
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#UpPath{
    width: 15px;
}
#DownShape{
    width: 15px;
}
#BoxCheckListOption{
    width: 100%;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#BoxCheckAll{
    width: 246px;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#TitleCheck{
    font-size: 14px;
    font-weight: 700;
    color: #191D23;
}
#BoxCheckDhaka{
    width: 60px;
    height: 20px;
    font-size: 13px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #191D23;
    font-family: 'Open sans', sans-serif;
}
#BoxCheckDubai{
    width: 55px;
    height: 20px;
    font-size: 13px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #191D23;
    font-family: 'Open sans', sans-serif;
}
#BoxCheckMuscut{
    width: 67px;
    height: 20px;
    font-size: 13px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #191D23;
    font-family: 'Open sans', sans-serif;
}
#BoxBtnMore{
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
#BtnMore{
    width: 62px;
    height: 24px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    font-weight: 800;
    color: #163668;
}
#BoxFlightsMenu{
    background-color: #F7F9FB;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Open sans', sans-serif;
    color: #191D23;
    border-radius: 6px;
}
#BoxLogoResult{
    width: 218px;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
}
#PFlights{
    width: 110px;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open sans', sans-serif;
    color: #191D23;
}
#spanFlights{
    width: 70px;
    font-weight: 700;
    font-family: 'Open sans', sans-serif;
    color: #177CFD;
    display: flex;
    justify-content: center;
    align-items: center;
}
#BoxBtnMenu{
    width: 274px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}
#BtnCheapest{
    width: 84px;
    height: 28px;
    border-radius: 16px;
    border: none;
    font-family: 'Open sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #33344F;
    background-color: #F7F9FB;
}
#BtnCheapest:hover{
    background-color: #000096;
    color: #fff;
}
#BtnBest{
    width: 84px;
    height: 28px;
    border-radius: 16px;
    border: none;
    font-family: 'Open sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #33344F;
    background-color: #F7F9FB;
}
#BtnBest:hover{
    background-color: #000096;
    color: #fff;
}
#BtnQuickest{
    width: 84px;
    height: 28px;
    border-radius: 16px;
    border: none;
    font-family: 'Open sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #33344F;
    background-color: #F7F9FB;
}
#BtnQuickest:hover{
    background-color: #000096;
    color: #fff;
}
#BoxEmiretes{
    width: 863px;
    height: 123px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFB;
    margin-top: 5px;
    border-radius: 6px;
}
#BoxEmiretesOne{
    width: 642px;
    height: 123px;
    display: flex;
    flex-direction: column;
}
#BoxTxtHeader{
    width: 642px;
    height: 32px;
    display: flex;
    align-items: center;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    color: #474761;
    background-color: rgb(255, 255, 255);
}
#BoxEmiratesMain{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
#BoxEmiratesMainAll{
    width: 596px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#BoxLogoEmiretes{
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#PEmiretes{
    font-size: 14px;
    color: #191D23;
    font-weight: 700;
    font-family: 'Open sans', sans-serif;
}
#BoxEmiretesDates{
    width: 229px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#BoxDatesOne{
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#PdateOne{
    font-size: 18px;
    color: #33344F;
    font-weight: 700;
    font-family: 'Open sans', sans-serif;
}
#BoxDatesTwo{
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#PdateTwo{
    font-size: 12px;
    color: #191D23;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
}
#PdateTwo1{
    font-size: 12px;
    color: #33344F;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
}
#EmiretesHours{
    font-size: 14px;
    color: #33344F;
    font-weight: 700;
    font-family: 'Open sans', sans-serif;
}
#BtnEmiretes{
    width: 98px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(124, 130, 155, 0.1);
    border-radius: 180px;
    font-size: 10px;
    color: #33344F;
    font-weight: 800;
    font-family: 'Open sans', sans-serif;
    cursor: pointer;
}
#BoxEmiretesTwo{
    width: 220px;
    height: 123px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#BoxOfertasEmiretesTwo{
    width: 178px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#BtnEmiretesTwo{
    width: 178px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#Off20{
    font-size: 19px;
    font-family: 'Open sans', sans-serif;
    font-weight: 800;
    color: #DF142D;
}
#Save{
    font-size: 12px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    color: #191D23;
}
#BoxOpodo{
    width: 80px;
    height: 42px;
    display: flex;
}
#POpodo{
    font-size: 32px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    color: #191D23;
}
#SpanOpodo{
    font-size: 11px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    color: #191D23;
    position: relative;
    top: 14px;
    left: 10px;
}
#BtnET{
    width: 105px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000096;
    border-radius: 4px;
    border: none;
    font-size: 11px;
    color: #fff;
    font-weight: 700;
}
#PTxtHeader{
    color: #33344F;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#SpanTxtHeader{
    color: #E8B644;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
}